html {
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	border-left: 10px solid #900;
	border-right: 10px solid #900;
	background-color: grey;
	color: white;


}
nav {
	position: fixed;
	background-color: white;
	height: 30px;
	width:100%;
	text-align: center;
	font-size: 100%;
	line-height:200%;
	top: 0;
}
table {
	position: relative;
	width: 40%;
	left: 30%;
	text-align: center;
	border: 1px solid black;
}
img.insert {
	display:block;
	max-height: 400px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

}

